html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin:0;
    height: 100%; 
    width: 100%;
}

a, a:visited, a:hover{
    color: #ED1B2F;
    text-decoration: none;
    font-weight: bold;
}

#cs-logo {
    position: absolute;
    max-height: 110px;
    top:15px;
    left:10%;
    z-index: 999;
}

header {
    margin-top:50px;
    background-color: #333333;
    height:15%;
    width: 100%;
}

#login-container {
    background-color: #F4F4F4;
    padding: 10px;
    margin: 30px auto 30px auto;
    width: 30%;
}

#login-form h1 {
    text-align: center;
    margin: 20px;
}

#login-form input {
    display: block;
    margin: 12px auto 12px auto;
    width: 50%;
    padding: 7px;
}

.submit-btn {
    background-color: #ED1B2F;
    border: none;
    color: white;
    cursor: pointer;
}

.form-link {
    width: max-content;
    margin: auto;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer div {
    display: inline;
}

.copyright {
    float: right;
}