html, body {
    height: 100%; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin:0;
    width: 100%;
    display:flex; 
    flex-direction:column;
}

a, a:visited, a:hover{
    color: #ED1B2F;
    text-decoration: none;
    font-weight: bold;
}

.top-banner {
    max-height: 3vh;
    width: 100%;
    background-color: #f4f4f4;
}
#logout {
    color: #7b7b7b;
}
.logout-icon, .user-icon {
    height: 3vh;
    color: #7b7b7b;
    line-height: 3vh;
    width: 15%;
    float: right;
    text-align: right;
    margin-right: 3vh;
}
#logout:hover, .user-icon:hover {
    color: #000000;
}

.cs-logo {
    position: absolute;
    max-height: 10%;
    top: 3vh;
    left:10%;
    z-index: 999;
}

.header {  
    position: absolute;
    background-color: #333333;
    height: 10%;
    width: 100%;
    margin-top:9vh;
}

.login-container {
    background-color: #F4F4F4;
    padding: 10px;
    margin:15% auto;
    width: 30%;
}

#login-form h1, #login-form p {
    text-align: center;
    margin: 20px;
}

#login-form input, span {
    display: block;
    margin: 12px auto;
    width: 50%;
    padding: 7px;
}
.submit-btn {
    background-color: #ED1B2F;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}
.form-link {
    width: max-content;
    margin: auto;
}
.dashboard-container{
    width:80%;
    margin:15% auto;
    text-align: center;
    padding: 5px;
}
.task {
    width:30%;
    display: inline-block;
    background-color: #F4F4F4;
    margin: 2%;
}
.task a {
    color:black;
}
.task-name {
    color: #000000;
    background-color: rgba(167, 167, 167, 0.3);
    font-size: 4vh;
    padding: 5px 0px;
}
.task:hover {
    cursor: pointer;
    background-color: #ED1B2F;
}
.task-logo i{
    font-size: 100px;
    padding:10%;
}
/*
#admin-dash, #mgnt-dash, #sysop-dash{
    display: none;
}
*/
#rate-container, .global-container{
    width:80%;
    margin:10% auto;
}

.ta-container {
    width:60%;
    margin:10% auto;
}

#ta-admin-container {
    background-color: #f4f4f4;
    padding:1em 3em;
}
 
#ta-database{
    background-color: white;
}

#rate-container h3 {
    margin-bottom: 10px;
}

.rate-select, .rate-review {
    background-color: #f4f4f4;
    padding: 20px;
    margin:10px 0;
}

.rate-option {
    background-color: white;
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    transition: 0.25s;
}

.rate-option:hover {
    background-color: #ED1B2F;
}

.rate-review input {
    display: block;
}

.rate-review input[type="text" i] {
    padding:10px;
    width: 50%;
}

#search-ta-course, #search-user {
    padding: 10px;
    width: 30%;
    margin: auto;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
}
.global-sidebar {
    width: 22%;
    float: left;
    margin-right: 3%;
}
.global-main {
    width: 75%;
    float: left;
}
.global-sidebar button {
    width: 100%;
    text-align: left;
    padding-left: 10%;
    padding: 4%;
    border: 0;
    background: none;
    cursor: pointer;
}
.global-sidebar i {
    margin-left: 2%;
}
.global-sidebar button:hover, #admin_b3, #sysop_b1{
    background-color: #f4f4f4;
}
table{
    margin-top: 4%;
    border-collapse: collapse;
    font-size: medium;
    width: 100%;
}
th, td{
    border-bottom: 1px solid #bbbbbb;
    padding: 2rem 1.5rem;
    text-align: left;   
}
tbody:empty::before {
    content: "Sorry, there is no corresponding data yet!";   
}

.manage-users i {
    right: 0;
}
.course-btn {
    background-color: #000000;
    color: white;
    padding: 15px;
    font-size: large;
    border-radius: 10px;
    border: none;
  }
.dropdown {
    margin-top: 2%;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #f4f4f4;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.15);
    z-index: 1;
}
.dropdown-content a {
    color: #000000;
    padding: 15px;
    font-size: large;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #ED1B2F;
}
.ta-admin, .sysop {
    display: none;
}
.course-history, .manage-users {
    display: block;
}

.import-cohort button{
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    color: white;
    background-color: #000000;  
}

#ta-form-header {
    padding-bottom: 1em;
    border-bottom: 1px solid #bbbbbb;
}

#ta-form-header div {
    display: inline-block;
}

#go-back-ta{
    float:right;
}

#ta-admin-header, #ta-form-header {
    width: 100%;
    padding: 3% 0;
}

#ta-form-header h1 {
    margin:0;
}
#ta-admin-header input{
    width: 25%;
    float: left;
}
#ta-admin-header button, #ta-form-header button{
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    float: right;
    border-radius: 15px;
    color: white;
    background-color: #000000;  
    margin:0 10px;
}
#ta-admin-header button:hover , #ta-form-header button:hover{
    color: #000000;
    background-color: #ED1B2F;
}

#ta-admin-header input, #ta-admin-header button{
    display: inline-block;
}

#ta-detail-container div{
    padding: 10px 40px;
    background-color: #f4f4f4;
    margin: 10px 0;
}

.detail-info {
    font-size: 14px;
    margin: 0;
}

.detail-info td{
    border: none;
    padding: 0;
}

.ta-courses {
    background-color:white;
}

#ta-form {
    background-color: #f4f4f4;
    padding: 40px;
}

#ta-form input {
    padding: 10px;
}

.edit-icon, #ta-icon {
    width: 30%;
    float: left;
    cursor: pointer;
}
.edit-options {
    width: 30%;
    float: right;
    display: none;
}
#manage-users-header {
    width: 100%;
    padding: 3% 0;
}
#manage-users-header input{
    width: 25%;
    float: left;
}
#manage-users-header button{
    width: 10%;
    border: 0;
    padding: 2% 0;
    cursor: pointer;
    text-align: center;
    float: right;
    border-radius: 15px;
    color: white;
    background-color: #000000;  
}
#manage-users-header button:hover {
    color: #000000;
    background-color: #ED1B2F;
}

#import-course #submit-file {
    margin-top: 20px;
    display:block;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    color: white;
    background-color: #000000;
}

#manual-add-course-form td, #manual-add-ta-form td{
    padding-right:6em;
    padding-bottom: 2em;
    border-bottom: none;
}

#manual-add-course-form button, #manual-add-ta-form button{
    margin-left: 1.5rem;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    color: white;
    background-color: #000000;
}

#ta-detail-name {
    margin:0;
    margin-bottom:10px;
    font-size: 14px;
}

#ta-detail-name td {
    padding: 1rem 0;
}

#ta-detail-name button {
    float:right;
    margin-left: 1.5rem;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    color: white;
    background-color: #000000;
}

#course-detail-name {
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 10px;
}

#remove-ta-btn:hover {
    float:right;
    background-color:#ED1B2F;
}

#manual-add-course-form input {
    padding: 5px 10px;
}

.footer {
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    background-color: black;
    color: white;
    margin-top:auto; 
}

.mcgill, .copyright {
    display: inline;
    margin: 0% 3vh;
}
.copyright {
    padding: 0%;
    float: right;
}